---
title: 'KEAM 2024 Profile Verification: List of Defected Applicants'
description: The CEE provided a last option for the candidates who have defects in their documents regarding reservation categories. The candidates need to upload the required documents on or before 29.07.2024, 11.59 PM.
pubDate: '2024-07-11'
theme: KEAM
author: CollegeDost
source: https://collegedost.in/blog/keam/keam-2024-profile-verification/
updatedDate: '2025-03-07'
keywords:
- KEAM
- KEAM 2024
- KEAM 2024 Defected Applicants
- KEAM 2024 Profile Verification
- KEAM Application Defects
- KEAM Profile Verification
- KEAM Verification
ogImage: https://collegedost.in/wp-content/uploads/2024/07/keam-profile-verification-defects.png
---


**KEAM 2024 Profile Verification:** The list of candidates who have submitted online applications to the CEE (Commissioner for Entrance Examinations) for admission to Kerala Engineering/ Pharmacy/ Architecture/Medical/ Medical allied courses (KEAM-2024), and who have defects in their documents regarding Reservation categories (except NRI) is published in the official website, <http://www.cee.kerala.gov.in/>.

The candidates need to upload the necessary documents online to rectify the defects on or before **29.07.2024, 11.59 PM.**

No further opportunities will be provided to correct the defects. Students who do not rectify the defects in their Nativity documents within the given timeframe will lose their communal and special reservation benefits.

## Steps to rectify the details

**Step 1:** Visit the KEAM 2024 Candidate Portal using the direct link, <https://www.cee.kerala.gov.in/keam2024/>.

**Step 2:** Log in to the Candidate Portal by giving the Application Number and Password.

**Step 3:** The candidates  who have any defects in their application can view the defects by clicking the menu ‘Memo Details’ provided on the Profile page.

**Step 4:** The candidates can rectify the defects by uploading valid documents/Photos/Signatures as applicable.

> Also Check: [KEAM 2025 College Predictor](https://collegedost.in/college-predictor/keam-college-predictor/)

Get KEAM Exam Updates/ Materials / Topper Notes directly on Whatsapp

[Click here to join](https://api.whatsapp.com/send?phone=919281014900&text=Hi,%20I%20want%20to%20receive%20latest%20updates%20and%20guidance%20from%20College%20Dost.%20What%20should%20I%20do?)

🚀 Get KEAM Exam Updates/ Materials 📖– Topper Notes directly on WhatsApp.

[Join WhatsApp](https://api.whatsapp.com/send?phone=919281014900&text=Hi,%20I%20want%20to%20receive%20latest%20updates%20and%20guidance%20from%20College%20Dost.%20What%20should%20I%20do?)

## Note for the Candidates

- Only candidates belonging to Keralite are eligible for Communal/Special reservation or any fee concession.
- The candidates who have not cleared the nativity as ‘Keralite’ will not be considered for any reservation. Hence, defects in Nativity given in the memo in the ‘Candidate Portal’ should be rectified by uploading valid documents.
- Only those candidates who have qualified for the entrance examination for Engineering courses and submitted plus two (equivalent) marks online within the stipulated time will be included in the Engineering rank list.
- Candidates who have claimed NRI will be allowed to rectify defects later in the Candidate portal.
