---
title: TNEA 2025 Certificate Verification
description: The TNEA 2025 Certificate Verification is scheduled from 13th June 2025 to 30th June 2025 All the Candidates should upload the certificates before 12th June 2025
pubDate: '2024-05-09'
theme: TNEA
author: CollegeDost
source: https://collegedost.in/blog/tnea/tnea-certificate-verification/
updatedDate: '2025-05-30'
keywords:
- steps for TNEA certificate verification
- TNEA 2024
- TNEA Certificate verification
- TNEA TFC centres
ogImage: https://collegedost.in/wp-content/uploads/2024/05/TNEA-2.png
---


**TNEA 2025 Certificate Verification**: The Directorate of Technical Education, Tamil Nadu, **will start the certification verification process on June 10, 2025,** and conclude on June 20, 2025. All candidates are required to upload their certificates before the deadline. Upon submission, the conducting body will verify the certificates.

Candidates meeting the eligibility criteria will be able to participate in the counselling process. The entire TNEA process can be completed online. The authorities will prepare the rank list of eligible candidates, which will be published on the official website tneaonline.org.

To upload certificates for verification, candidates must first register for the TNEA Counselling process. Registration started on May 7, 2025, and will close on June 6, 2025. Candidates can upload their certificates for verification until June 20, 2025. It’s essential to note that only registered candidates who have paid the registration fee are permitted to upload their certificates. Documents should be uploaded in JPG/JPEG/PNG format and must be between 150 KB to 1 MB in size.

> **Also Read:** [TNEA Registration 2025](https://collegedost.in/blog/tnea/tnea-application-form/)

## TNEA Certificate Verification 2025

The authorities of TNEA will verify the certificates of candidates who have uploaded their documents before June 10, 2025. Candidates can login to the official website of TNEA 2025 at tneaonline.org using their credentials, such as Email ID and Password. Additionally, candidates can track the status of certificate verification on the official website, which may indicate statuses such as incomplete, complete, or in progress.

This certificate verification process is mandatory for all aspiring students to pursue an engineering stream in Tamil Nadu. If candidates meet the eligibility criteria, they can participate in the TNEA counselling process.

## Steps for TNEA Certificate Verification Process at TFC 2025

Candidates must follow the below steps for TNEA certificate verification at TFC’s:

**Step 1:** Visit the official website of TNEA 2025 at [tneaonline.org](http://tneaonline.org).

**Step 2:** Click on the “Login” button displayed on the homepage.

**Step 3:** Enter your credentials, such as Email ID and Password.

**Step 4:** Once logged in, registered candidates will see their application form on the screen.

**Step 5**: Under each certificate section, click on the “Upload” option. Upload each certificate one by one. Ensure that the format is JPG/JPEG/PNG and the size is between 150 KB to 1 MB.

**Step 6:** After uploading all the certificates, click on the “Freeze upload” option. Note that after submission, no further changes are allowed. Candidates can only “Download” their uploaded certificates.

> **Also Checkout:** [TNEA College Predictor 2025](https://collegedost.in/college-predictor/tnea-college-predictor/)

## TNEA Facilitation Centres 2025

It is important for candidates to note that all the certificates will be verified for TNEA Counselling at the following centers:

|  |  |  |  |
| --- | --- | --- | --- |
| **S.No** | **District** | **TFC Number** | **TFC Centre Name** |
| 1. | Ariyalur | 39 | Government Polytechnic College Keelapalur, Ariyalur- 621707 |
| 2. | Ariyalur | 53 | University College of Engineering Ariyalur, Kathankudikadu Village, Thelur Post, Ariyalur – 621 731 |
| 3. | Chengalpattu | 7 | Government Polytechnic College Bharathamadha Street Bharathipuram Chromepet Chennai 600044 |
| 4. | Chengalpattu | 54 | University Departments of Anna University, Chennai – MIT Campus, Chrompet, Tambaram Taluk, Chengalpattu District – 600 044 |
| 5. | Chennai | 1 | Central Polytechnic College, CIT Campus Tharamani, Chennai – 600 113. (Integrated Workshop |
| 6. | Chennai | 2 | Central Polytechnic College, CIT Campus Tharamani, Chennai – 600 113. (Integrated Workshop) |
| 7. | Chennai | 3 | Institute of Chemical Technology, CIT Campus, Tharamani Chennai-600 113 |
| 8. | Chennai | 4 | Central Polytechnic College, CIT Campus Tharamani, Chennai – 600 113. (Auditorium) |
| 9. | Chennai | 5 | Government Polytechnic College, R.K.Nagar, Chennai-600081 |
| 10. | Chennai | 6 | Government Polytechnic College, No.1, Subbarayan Main Steet, Nammalvarpet, Purasawalkam, Chennai – 600012 |
| 11. | Chennai | 55 | Institute of Textile Technology, Chennai – 600113 |
| 12. | Chennai | 56 | Institute of Printing Technology, Chennai – 600 113. |
| 13. | Chennai | 57 | State Institute of Commerce Education, CIT Campus, Tharamani, Chennai-600113 |
| 14. | Chennai | 58 | University Departments of Anna University, Chennai -CEG Campus, Sardar Patel Road, Guindy, Chennai – 25 |
| 15. | Chennai | 102 | Dr.Dharamambal Government Polytechnic College For Women, Tharamani, Chennai – 600 113 |
| 16. | Coimbatore | 22 | Government College of Technology, Coimbatore – 641013 |
| 17. | Coimbatore | 23 | Government Polytechnic College For Women, Coimbatore |
| 18. | Coimbatore | 24 | Coimbatore Institute of Technology, Civil Aerodrome Post, Peelamedu, Coimbatore -14 |
| 19. | Coimbatore | 60 | Government Polytechnic College, Coimbatore – 641 014 |
| 20. | Coimbatore | 61 | PSG College of Technology, Peelamedu, Coimbatore 641004 |
| 21. | Coimbatore | 62 | Anna University Regional Campus Coimbatore, Maruthamalai Road, Navavoor, Coimbatore – 641 046 |
| 22. | Cuddalore | 16 | Thiru Kolanjiappar Government Arts College, Viruthachlam -606001 |
| 23. | Cuddalore | 17 | Faculty of Engineering and Technology, Annamalai University, Annamalainagar, Chidambaram – 608001, Cuddalore District |
| 24. | Cuddalore | 63 | Government Polytechnic College, Kooduveli, Kattumannarkoil -Tk Pin 608305 |
| 25. | Cuddalore | 64 | University College of Engineering Panruti, Chennai Kumbakonam Highway, Pannikkankuppam, Pincode – 607 106 |
| 26. | Dharmapuri | 28 | Government College of Engineering, Chettikarai, Dharmapuri,636704 |
| 27. | Dharmapuri | 65 | Government Polytechnic College, Dharmapuri – 635 205 |
| 28. | Dharmapuri | 66 | Government Polytechnic College, Kadathur – 635303 |
| 29. | Dharmapuri | 67 | Government Polytechnic College Palacode – 636808 |
| 30. | Dindigul | 34 | G.T.N Arts College (Autonomous ), Old Karur Road, Dindigul-624005 |
| 31. | Dindigul | 68 | University College of Engineering Dindigul & Maangaraipirivu, Reddiyarchattram, Dindigul – 624 622 |
| 32. | Dindigul | 69 | Arulmigu Palaniandavar Polytechnic College, Dindigul Road, Palani-624601 |
| 33. | Erode | 20 | Gobi Arts & Science College, Karattadipalayam Post, Gobichettipalayam-638453 |
| 34. | Erode | 21 | Government Polytechnic College, Karumandicellipalayam, Sanitorium (Po), Perundurai, Erode (Dt) 638 053 |
| 35. | Erode | 70 | Government College of Engineering(IRTT), Erode-638316 |
| 36. | Erode | 71 | Sakthi Polytechnic College, Sakthinagar, Appakoodal, Anthiyur Tk, Erode Dt. – 638315 |
| 37. | Kallakurichi | 15 | Government Polytechnic College, Kattuvannanjur Village, Sankarapuram Taluk, Kallakurichi District, Pin: 606401 |
| 38. | Kancheepuram | 8 | Bhaktavatsalam Polytechnic College, Karapettai,Kanchipuram-631552 |
| 39. | Kancheepuram | 72 | University College of Engineering Kancheepuram, NH-4 Chennai – Bangalore Highways, Ponnerikkarai, Karaipettai – 631 552 |
| 40. | Kanniyakumari | 51 | S.T.Hindu College, Nagercoil-2 |
| 41. | Kanniyakumari | 83 | Government Polytechnic College, Konam, Nagercoil-629004 |
| 42. | Kanniyakumari | 110 | University College of Engineering Nagercoil, Konam, Nagercoil. 629004 |
| 43. | Karur | 30 | Government Arts College (Autonomous), Thanthonimalai, Karur, 639005 |
| 44. | Karur | 73 | Government Polytechnic College, Kaniyalampatti ,Karur-621301 |
| 45. | Krishnagiri | 29 | Government College of Engineering Bargur – 635104 |
| 46. | Krishnagiri | 74 | Government Polytechnic College, Krishnagiri – 635001 |
| 47. | Krishnagiri | 75 | Government Polytechnic College, Uthangarai – 635 207 |
| 48. | Krishnagiri | 76 | Government Polytechnic College, Kelamangalam, (Opp. To Model School, Bodichipalli), Denkanikottai Tk, Krishnagiri Dt 635 113. |
| 49. | Madurai | 31 | Tamilnadu Government Polytechnic College, Madurai-625011 |
| 50. | Madurai | 32 | Thiagarajar College of Engineering, Thirupparankundram, Madurai, 625015 |
| 51. | Madurai | 77 | Government Polytechnic College For Women, Madurai -625011 |
| 52. | Madurai | 78 | Government Polytechnic College Melur-625109 |
| 53. | Madurai | 79 | Government Polytechnic College, Usilampatti625537 |
| 54. | Madurai | 80 | Government Polytechnic College, Chekkanurani, Madurai |
| 55. | Madurai | 81 | Anna University Regional Campus Madurai, Keelakuildi, Madurai – 625019 |
| 56. | Mayiladuthurai | 52 | Srinivasa Subbaraya Polytechnic College, Puthur, Sirkali, Mayiladuthurai District-609108 |
| 57. | Nagapattinam | 36 | Valivalam Desikar Polytechnic College, Collectorate (Po), Nagapattinam, 611001 |
| 58. | Nagapattinam | 82 | University College of Engineering, Thirukkuvalai, Nagappattinam – 610 204 |
| 59. | Namakkal | 27 | Namakkal Kavignar Government Arts College For Women, Namakkal 637001 |
| 60. | Namakkal | 84 | Government Polytechnic College, Mohanur, Namakkal – 637015 |
| 61. | Perambalur | 40 | Government Polytechnic College, Perambalur-621 104 |
| 62. | Pudukottai | 43 | Govt Polytechnic College, Aranthangi 614616 |
| 63. | Pudukottai | 86 | Government Polytechnic College, Gandharvakottai, Pudupatti Village – 613 301 |
| 64. | Ramanathapuram | 33 | Government Arts College, Paramakudi – 623 701 |
| 65. | Ramanathapuram | 87 | University College of Engineering Ramanathapuram, Pullangudi, Ramanathapuram 623 513 |
| 66. | Ranipet | 11 | Arignar Anna Government Arts College for Women, Walajapet, Ranipet Dt -632513 |
| 67. | Salem | 19 | Government College of Engineering, Salem, 636011 |
| 68. | Salem | 88 | Government Polytechnic College, Vanavasi, Salem-636457 |
| 69. | Salem | 89 | Thiagarajar Polytechnic College, Junction Main Road, Salem – 636005 |
| 70. | Sivagangai | 45 | Alagappa Chettiar Government College of Engineering And Technology, Karaikudi 630003 |
| 71. | Sivagangai | 90 | Alagappa Government Polytechnic College, Karaikudi – 630003. |
| 72. | Sivagangai | 91 | Annamalai Polytechnic College,Chettinad – 630102 |
| 73. | Tenkasi | 47 | Government Arts And Science College, Kadayanallur |
| 74. | Tenkasi | 59 | Kamarajar Government Arts College, Surandai, Tenkasi – 627 859 |
| 75. | Thanjavur | 37 | Government Polytechnic College, Papanasam 61420 |
| 76. | Thanjavur | 38 | Govt. College of Engineering Sengipatti, Thanjavur – 613 402 |
| 77. | Thanjavur | 92 | University College of Engineering Pattukkottai, ECR Road, Rajamadam.614701 |
| 78. | The Nilgiris | 26 | Government Arts College, Udhagamandalam – 643002. The Nilgiris. |
| 79. | The Nilgiris | 85 | Government Polytechnic College, Udhagamandalam, Finger Post, Ooty, The Nilgiris643006 |
| 80. | Theni | 35 | Government College of Engineering, Bodinayakkanur-Theni District 625 582 |
| 81. | Theni | 93 | Government Polytechnic College, Theni – 625534 |
| 82. | Theni | 94 | Government Polytechnic College, Aundipatti – 625517 |
| 83. | Thiruvallur | 9 | Murugappa Polytechnic College, Sathyamurthy Nagar, Avadi, Chennai – 600062 |
| 84. | Thiruvallur | 10 | Loganatha Narayanasamy Government College (A), Ponneri |
| 85. | Thiruvallur | 96 | Government Polytechnic College, Sevapettai, Thiruvallur – 602025 |
| 86. | Thiruvallur | 97 | AMK Technological Polytechnic College, Chennai-Banglore High Road, Sembarambakkam – 600123 |
| 87. | Thiruvarur | 44 | Government Polytechnic College, Thozhuvur Colony, Valangaiman. Thiruvarur District. Pin – 612804 |
| 88. | Thiruvarur | 99 | Government Polytechnic College, Korukkai – 614711 |
| 89. | Thoothukudi | 50 | Government Polytechnic College, Palayamkottai Road, Thoothukudi -628008 |
| 90. | Thoothukudi | 103 | Bharathiyar Centenary Memorial Women’s Polytechnic College, Ettayapuram – 628902. |
| 91. | Thoothukudi | 104 | University VOC College of Engineering, Thoothukudi |
| 92. | Tiruchirappalli | 41 | Government Polytechnic College, Thuvakudimalai, Trichy |
| 93. | Tiruchirappalli | 42 | Government College of Engineering Srirangam, Trichy – 620012 |
| 94. | Tiruchirappalli | 100 | Government Polytechnic College Srirangam Trichy 620012 |
| 95. | Tiruchirappalli | 101 | University College of Engineering (BIT- Campus) Anna University Tiruchirappalli – 620 024) |
| 96. | Tirunelveli | 48 | Government College of Engineering, Tirunelveli – 627007 |
| 97. | Tirunelveli | 49 | Rani Anna Government College For Women, Gandhinagar, Tirunelveli -627008 |
| 98. | Tirunelveli | 95 | Anna University Regional Campus-Tirunelveli, Trivandrum Road, Palayamkottai, Tirunelveli627007 |
| 99. | Tirupathur | 13 | Government Polytechnic College, Jolarpet, Thirupathur – 635651 |
| 100. | Tiruppur | 25 | Chikkanna Government Arts College Tirupur 641602 |
| 101. | Tiruvannamalai | 14 | Government Polytechnic College, Cheyyar-604 407 |
| 102. | Tiruvannamalai | 98 | University College of Engineering Arni, Arni To Devikapuram Road, Thatchur Village, Arni Taluk, Tiruvannamalai – 632326 |
| 103. | Vellore | 12 | Thanthai Periyar Govt Institute of Technology Vellore-632002 |
| 104. | Vellore | 105 | Thanthai Periyar E V Ramasamy Government Polytechnic College, Sivaramapuram, Vellore – 632002 |
| 105. | Viluppuram | 18 | Govt Polytechnic College No 27 Kandachipuram Main Road Arakandanallur Post Tirukoilur Taluk |
| 106. | Viluppuram | 106 | University College of Engineering Tindivanam & Melpakkam Post, Tindivanam, Villupuram Dt. – 604307 |
| 107. | Viluppuram | 107 | University College of Engineering Villupuram, Kakuppam, Villupuram-605103 |
| 108. | Virudhunagar | 46 | V.V.Vanniaperumal College For Women, Madurai Road, Virudhunagar |
| 109. | Virudhunagar | 108 | P.A.C. Ramasamy Raja Polytechnic College, Rajapalayam 626108 |
| 110. | Virudhunagar | 109 | Ayyanadar Janakiammal Polytechnic College, Chinnakkamanpatti (PO), Sivakasi East – 626189 |

Get TNEA Exam Updates/ Materials / Topper Notes directly on Whatsapp

[Click here to join](https://api.whatsapp.com/send?phone=919281014900&text=Hi,%20I%20want%20to%20receive%20latest%20updates%20and%20guidance%20from%20College%20Dost.%20What%20should%20I%20do?)

🚀 Get TNEA Exam Updates/ Materials 📖– Topper Notes directly on WhatsApp.

[Join WhatsApp](https://api.whatsapp.com/send?phone=919281014900&text=Hi,%20I%20want%20to%20receive%20latest%20updates%20and%20guidance%20from%20College%20Dost.%20What%20should%20I%20do?)
